.hero { 
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient( to right,
    var(--hero-gradient-color),
    var(--hero-gradient-color)),
    url(../images/hero.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: var(--hero-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    &__title {
    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

    &__button {
    transition: background-color 250ms var(--cubic);

    padding: 10px 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   
    background-color: var(--accent-text-color);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

&:hover,
&:focus {
    background-color: var(--button-active-color);
}
}
}

